@mixin customizer-videos-link-colour ($color: #418AD0, $hover: #F7AE00) {
	&,
	&:active,
	&:visited {
		color: $color;
	}

	&:hover,
	&:hover:active,
	&:focus {
		color: $hover;
	}
}

@mixin customizer-videos-body-colours($bg: #F6F6F6, $breaker: #DADDDF, $color: #4A4A4A, $link: #418AD0, $hover: #F7AE00, $small: #919191) {
	.widget.lsx-videos {
		.lsx-videos-archive-link {
			&:before,
			&:after {
				background-color: $breaker;
			}
		}
	}

	.lsx-videos-slot,
	.lsx-videos-slot-single {
		.lsx-videos-categories > a:not(.btn) {
			@include customizer-videos-link-colour($small, $hover);
		}

		.lsx-videos-meta { color: $color; }

		.lsx-videos-title > a:not(.btn) {
			@include customizer-videos-link-colour($color, $hover);
		}
	}

	.lsx-videos-slot {
		.lsx-videos-content {
			a:not(.btn).moretag {
				background-color: $link;
				color: #FFF;

				&:hover {
					background-color: $hover;
					color: #FFF;
				}
			}
		}
	}

	// .lsx-services-section {
	// 	.lsx-projects-slot {
	// 		.lsx-projects-content {
	// 			a.moretag {
	// 				color: #FFF !important;

	// 				&:hover { color: #FFF !important; }
	// 			}
	// 		}
	// 	}
	// }

	.lsx-videos-slider {
		.slick-dots {
			& > li {
				& > button { border-color: $color; }

				&.slick-active > button { background-color: $color; }
			}
		}

		.slick-arrow {
			border-color: $color;
			color: $color;

			&:hover {
				border-color: $hover;
				color: $hover;
			}

			&.slick-disabled {
				border-color: $breaker;
				color: $breaker;
			}
		}
	}

	.archive.post-type-archive-video,
	.archive.tax-video-category {
		.nav-tabs {
			& > li {
				& > a {
					background-color: #FFF;

					&:hover { background-color: #FFF; }
				}

				&.active > a {
					background-color: $link;
					color: #FFF;

					&:after { border-color: transparent transparent $bg transparent; }
				}
			}
		}
	}
}
