/**
 * LSX Videos styles.
 *
 * @package lsx-videos
 */

@import 'include-media';
@import 'customizer-videos-body-colours';

#lsx-videos-modal {
	.modal-dialog {
		@include media('>=phone') {
			max-width: 587px;
			width: 100%;
			height: 679px;
		}

		.modal-content {
			border-width: 4px;
			background: #ffffff;
			border-color: #418AD0;
			.close {
				background-color: #418AD0;
				border-color: #418AD0;
				box-shadow: 0 0 4px 0 #418AD0;
				position: absolute;
				right: -14px;
				top: -17px;
				font-size: 28px;
			}
			.modal-header {
				min-height: 73px;
				background-color: #F2F2F2;
				.modal-title {
					text-align: left;
					color: #4a4a4a;
					padding-left: 15px;
					margin-top: 5px;
					font-size: 24px;
					@include media('<=phone') {
						text-align: center;
						padding-left: 0px;
						font-size: 22px;
					}
				}
			}
		}

		.modal-title { text-align: center; }
	}
}

.widget.lsx-videos {
	.tagline {
		& + .lsx-videos-shortcode { margin-top: 0; }
	}
}

.lsx-videos-archive-link-wrap {
	position: relative;
	margin-top: 6rem;
	overflow: hidden;
}

.lsx-videos-archive-link {
	display: inline-block;
	position: relative;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 999rem;
	}

	&:before { right: 120%; }
	&:after { left: 120%; }
}

.lsx-videos-shortcode { margin-top: -4rem; }

.lsx-videos-row {
	display: flex;
    flex-wrap: wrap;
	.lsx-videos-column {
		.lsx-videos-slot,
		.lsx-videos-slot-single {
			margin: 0rem auto 3rem;
			overflow: hidden;

			.lsx-videos-avatar {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				&:before {
					content: '\f04b';
					font-family: FontAwesome;
					color: white;
					position: absolute;
					font-size: 17px;
					background-color: rgba(0,0,0,0.75);
					border-radius: 50%;
					height: 37px;
					width: 37px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding-left: 5px;
				}
				& > img {
					width: 100%;

					&.lazyload, &.lazyloading { width: auto; }
				}
			}

			.lsx-videos-title {
				 margin: 2rem 0 1rem;
				 font-size: 22px;
				}

			.lsx-videos-categories {
				font-size: 18px;

				&, #home-widgets & { margin-bottom: 1.2rem; }
			}

			.lsx-videos-meta {
				font-size: 10px;
				.meta-duration {
					&:before {
						content: '\f017';
						font-family: fontawesome;
						margin-right: 5px;
					}
				}
				.meta-views {
					&:before {
						content: '\f06e';
						font-family: fontawesome;
						margin-right: 5px;
					}
				}
				.meta-date {
					&:before {
						content: '\f073';
						font-family: fontawesome;
						margin-right: 5px;
					}
				}

				#home-widgets & { margin-top: 0; }
			}

			.lsx-videos-content {
				margin-top: 2rem;

				& p {
					margin-bottom: 0;

					& + p { margin-top: 2.4rem; }
				}
			}
		}
	}
}

.lsx-videos-slot {
	background-color: #FFF;
	text-align: center;

	.lsx-videos-title {
		margin: 2.4rem 0 1rem;
		padding: 0 2rem;
	}

	.lsx-videos-categories { padding: 0 2rem; }
	.lsx-videos-meta { padding: 0 2rem; }

	.lsx-videos-content {
		padding: 0 2rem;

		& .moretag {
			display: block;
			margin: 0 -2rem;
			padding: 1rem 0;
			text-align: center;
			transition: background 300ms ease;

			&:after {
				color: inherit;
				content: '\f178';
				display: inline-block;
				font-family: 'FontAwesome';
				font-size: inherit;
				margin-left: 5px;
				text-rendering: auto;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}

.lsx-videos-slider {
	@include media('>=tablet') {
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		&.slick-has-arrows { width: calc(100% - 8rem); }
	}

	@include media('>=1280px') {
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);

		&.slick-has-arrows { width: calc(100% + 30px); }
	}

	.lsx-videos-slot.slick-slide {
		margin-left: 15px;
		margin-right: 15px;
	}

	.slick-dots {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		height: auto;
		justify-content: center;
		list-style: none;
		margin: 2rem 0 0;
		padding: 0;

		& > li {
			line-height: 1;
			padding: 5px;

			@include media('>=tablet') { padding: 0 7.5px; }

			& > button {
				background: transparent;
				border-style: solid;
				border-width: 1px;
				font: 0/0 a;
				height: 12px;
				transition: all 300ms ease-in-out;
				width: 4rem;

				@include media('>=tablet') { height: 6px; }
			}
		}
	}

	.slick-arrow {
		background: transparent;
		border-radius: 50%;
		border-style: solid;
		border-width: 2px;
		font: 0/0 a;
		height: 4rem;
		margin-top: calc((2rem - 17px) / 2);
		opacity: 1;
		padding: 0;
		position: absolute;
		text-shadow: none;
		top: 50%;
		transform: translateY(-50%);
		transition: border 300ms ease;
		width: 4rem;
		z-index: 3;

		&:before {
			display: block;
			font-family: 'FontAwesome';
			font-size: 3rem;
			line-height: 1;
			position: absolute;
			text-rendering: auto;
			top: 47%;
			transform: translateY(-50%);
			transition: color 300ms ease;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&.slick-disabled { cursor: not-allowed; }

		&.slick-prev {
			left: -4rem;

			&:before {
				content: '\f104';
				left: 1.1rem;
			}
		}

		&.slick-next {
			right: -4rem;

			&:before {
				content: '\f105';
				left: 1.5rem;
			}
		}
	}
}

.single-video {
	.archive-header-wrapper.banner-single {
		display: none;
	}
	#primary {
		margin-bottom: 4.5rem;
		margin-top: 9.5rem;
		#main {
			article.video {
				@include media('>=desktop') {
					width: 760px;
					margin: 0 auto;
				}
				.entry-content {
					.lsx-videos-slot {
						margin-bottom: 35px;
						.lsx-videos-title {
							font-family: lora;
							font-size: 30px;
							text-align: left;
							margin: 0.8rem 0 0rem;
							color: #4A4A4A;
						}
						.lsx-videos-meta {
							text-align: left;
							padding-bottom: 12px;
							font-size: 16px;
							color: #4E4E4E;
							.meta-duration {
								&:before {
									content: '\f017';
									font-family: fontawesome;
									margin-right: 5px;
								}
							}
							.meta-views {
								&:before {
									content: '\f06e';
									font-family: fontawesome;
									margin-right: 5px;
								}
							}
							.meta-date {
								&:before {
									content: '\f073';
									font-family: fontawesome;
									margin-right: 5px;
								}
							}
						}
					}
				}
			}
		}
		.lsx-videos-most-recent-related {
			.row {
				.lsx-title {
					margin-top: 4.25rem;
				}
				.lsx-related-videos-row {
					@include media('<=tablet') {
						padding: 15px;
						.lsx-related-videos-column {
							margin-bottom: 25px;
						}
					}
					.lsx-related-videos-column {
						.lsx-videos-slot {
							a {
								.lsx-videos-avatar {
									img {
										max-height: 170px;
										object-fit: cover;
									}
								}
							}
						}
					}
				}
			}
		}
		.navigation.post-navigation {
			.nav-links {
				.previous {
					a {
						width: 300px;
						&:before {
							content: '\f053';
							font-family: fontawesome;
							float: left;
							color: #418AD0;
							font-size: 30px;
							padding-right: 30px;
							&:hover {
								color: #2a6496;
							}
						}
						p.nav-links-description {
							text-align: left;
							margin-bottom: 1px;
							text-align: left;
							margin-bottom: 1px;
							font-size: 13px;
							color: #919191;
						}
						h3 {
							font-size: 20px;
							color: #4A4A4A;
							text-align: left;
						}
					}
				}
				.next {
					a {
						width: 300px;
						&:before {
							content: '\f054';
							font-family: fontawesome;
							float: right;
							color: #418AD0;
							font-size: 30px;
							padding-left: 30px;
							&:hover {
								color: #2a6496;
							}
						}
						p.nav-links-description {
							text-align: right !important;
							margin-bottom: 1px;
							text-align: left;
							margin-bottom: 1px;
							font-size: 13px;
							color: #919191;
						}
						h3 {
							font-size: 20px;
							color: #4A4A4A;
							text-align: right;
						}
					}
				}
			}
		}
		.comment-respond {
			.comment-reply-title {
				color: #2B3840;
				font-size: 19px;
			}
			.comment-form {
				.logged-in-as {
					font-size: 15px;
					margin-bottom: 15px;
				}
				.form-submit {
					.submit {
						background-color: #418AD0;
						box-shadow: 2px 2px 0 0 #27639D;
						color: #fff;
						&:hover {
							background-color: #27639D;
						}
					}
				}
			}
		}
	}
}

.archive.post-type-archive-video,
.archive.tax-video-category {
	.lsx-videos-filter + .lsx-videos-container { margin-top: 0rem; }

	.site-main {
		margin: 0;
		width: auto;
	}
}

.archive.post-type-archive-video,
.archive.tax-video-category {
	.nav-tabs {
		&:before,
		&:after {
			display: none;
		}

		align-items: stretch;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		border-bottom: 0 none;
		margin: 0 0 4.25rem 0;
		padding-left: 0;

		@include media('>=phone') { flex-flow: row nowrap; }

		& > li {
			margin-bottom: 0;
			width: 100%;

			@include media('>=phone') {
				display: flex;
				flex: 1 1 auto;
				max-width: 350px;
			}

			& + li {
				@include media('>=phone') { margin-left: 5px; }
			}

			& > a {
				border: 0 none;
				border-radius: 0;
				font-size: 16px;
				margin: 0;
				padding: 1rem 0;
				text-align: center;
				transition: all 300ms ease;

				@include media('>=phone') {
					align-items: center;
					display: flex;
					flex: 1 1 auto;
					justify-content: center;
				}

				@include media('>=tablet') { font-size: 22px; }
			}

			&.active > a {
				border: 0 none;
				position: relative;
				font-weight: 600;

				@include media('>=phone') {
					&:after {
						content: '';
						border-style: solid;
						border-width: 0 6px 6px 6px;
						bottom: 0;
						height: 0;
						left: 50%;
						position: absolute;
						transform: translateX(-50%);
						width: 0;

						@include media('>=tablet') { border-width: 0 9px 9px 9px; }
					}
				}
			}
		}
	}
	.lsx-videos-container {
		.lsx-videos-row {
			.lsx-videos-column {
				.lsx-videos-slot {
					a {
						.lsx-videos-avatar {
							img {
								max-height: 170px;
								object-fit: cover;
							}
						}
					}
				}
			}
		}
	}
	#primary {
		margin-bottom: 4.25rem;
		#main {
			.facetwp-template {
				.lsx-videos-slot {
					a {
						.lsx-videos-avatar {
							img {
								max-height: 125px;
								object-fit: cover;
							}
						}
					}
				}
			}
			#facetwp-bottom {
				.row {
					margin-top: 1.4rem;
					min-height: 40px;
				}
			}
			.lsx-pagination-wrapper {
				margin-top: 14px;
				.lsx-pagination {
					float: right;
				}
			}
		}
	}
}

@include customizer-videos-body-colours(#F6F6F6, #DADDDF, #4A4A4A, #418AD0, #F7AE00, #919191);
